parameters:
    level: 1
    paths:
        - src
    excludePaths:
        analyse:
            - public/index.php
            - app
            - vendor
        analyseAndScan:
            - db
    bootstrapFiles:
        - tests/bootstrap.php
            