parameters:
    level: 1
    paths:
        - public/index.php
        - app
        - src
    excludePaths:
        analyse:
            - vendor
        analyseAndScan:
            - db
            