{% block subject 'Klusbib inschrijving' %}

{% block body %}
    Beste {{ user.firstname }},<br><br>
    <p>Onlangs mochten we je verwelkomen bij de Klusbib. Graag bedanken we jou alvast voor het vertrouwen dat je ons schenkt en hopen we jou zo snel mogelijk te zien in de Klusbib voor je eerste ontlening.<br>
        Voor alle info over onze openingsuren en afspraken verwijzen we jou graag door naar onze website.<br>
        Je kan ons ook altijd volgen via onze facebook pagina om van de laatste nieuwtjes op de hoogte te blijven.<br>
        Moest je nog vragen of bedenkingen hebben horen we het graag. Enkel hierdoor kunnen wij onze werking verder uitbouwen.<br>
    </p><br>
    <p>
        Met vriendelijke groeten<br>
        Het Klusbib-team
    </p>
{% endblock %}




