{% block subject 'Nieuwe inschrijving geregistreerd' %}

{% block body %}
<p>Beste,</p>
<p>Via de website werd een aanvraag tot lidmaatschap geregistreerd<br/>
    Er werd een nieuwe gebruiker {{ newUser.first_name }} {{ newUser.last_name }}
    aangemaakt met status '{{ newUser.state }}' (user id: {{ newUser.id }} )<br/>
</p>
<p>
    Groetjes,<br/>
    Admin.
</p>
{% endblock %}




