{% block subject 'Klusbib API error' %}

{% block body %}
<p>Beste,</p>
<p>Er werd een probleem gedetecteerd, manuele interventie is noodzakelijk<br/>
    {{ message }} ({{ context }})
</p>

<p>
    Groetjes,<br/>
    Admin.
</p>
{% endblock %}




