{% block subject 'Klusbib lidmaatschap' %}

{% block body %}
    Beste {{ user.firstname }},<br><br>
    <p>Op {{ user.membership_end_date |date("j-n-Y") }} loopt je lidmaatschap bij de Klusbib ten einde.<br>
        We willen je alvast bedanken voor je steun tijdens dit opstartjaar en hopen samen met jou de verdere uitbouw mogelijk te maken.
    </p>
    <p>
        Wil je graag blijven gebruik maken van ons materiaal en/of ons initiatief steunen, stort dan 20 &euro; op rekeningnummer <b>BE79 5230 8088 4133</b>
    met als mededeling <i>'{{ user.firstname }} {{ user.lastname }} - lidmaatschap 2018'</i>.
    </p><br>
    <p>
        Met vriendelijke groeten<br>
        Het Klusbib-team<br>
        E: <a href="mailto:info@klusbib.be" >info@klusbib.be</a><br>
        W: <a href="https://www.klusbib.be" >www.klusbib.be</a><br>
    </p>
{% endblock %}
